.title {
    width: 100%;
    margin: 0 0 0 10px;

}

.title h2 {
    font-size: 5rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: auto;
    position: fixed;
    bottom: 5vh;
    left: 2vw;
    right: 2vw;
    top: 15vh;
}


