@import "~font-awesome/css/font-awesome.css";
@import "~muicss/dist/css/mui.css";

body {
    position: relative;
    color: white;
    height: 100vh;
    background-color: #232C39;
    background-image: linear-gradient(45deg, rgba(0, 216, 255, .5) 10%, rgba(0, 1, 127, .7));
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    overflow-y: hidden;
}


p {
    font-size: 24px;
}

li {
    list-style: none;
}

a {
    color: white;
    opacity: .75;
    text-decoration: none;
}

a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

blockquote {
    padding: 5px 2px 5px 10px;
    margin: 0 0 0;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}


.aside-transition-leave {
    opacity: 1;
}

.aside-transition-leave.aside-transition-leave-active {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.aside-transition-appear {
    transform: translateX(-102%);
}

.aside-transition-appear.aside-transition-appear-active {
    transform:translateX(0%);
    transition: transform 0.5s ;
}
